
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px auto;
  }
  .hero-section .asset{
    width: 70%;
    position: relative;
    border: "1px solid red";
    margin-bottom:60px;
}
  
  .hero-section .text-wrapper {
    color: #f2f2f2;
    font-family: "Gilroy-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 57%;
    margin-top: 20px;
  }
  
  .hero-section .search {
    position: relative;
    height: 58px;
    width: 50%;
    margin-top:60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonInside{
    position:relative;
    width: 100%;
  }
  input{
    height:55px;
    width:100%;
    padding-left:10px;
    border-radius: 8px;
    border:none;
    outline:none;
  }
  button{
    position:absolute;
    right: 0px;
    border:none;
    width:120px;
    background-color: #f9d53e;
    border-radius:4px;
    text-align:center;
    font-weight:bold;
    padding:2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  button:hover{
    cursor:pointer;
  }
  

  @media only screen and (max-width: 1000px) {
    .hero-section{
      margin-top: 40px;
    }
    .hero-section .asset{
      margin-bottom: 10px;
      width: 90%;
    }
    .hero-section .search {
        width: 80%;
        margin-top: 45px;
    }
    .hero-section .text-wrapper{
        width: 90%;
        font-size: 20px;
    }
  }
  @media only screen and (max-width: 700px) {}