
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .hero-section .hero-section-wrapper {
    height: 852px;
    width: 1512px;
  }
  
  .hero-section .div {
    height: 437px;
    left: 15%;
    position: relative;
    top: 150px;
    width: 70%;
  }
  
  .hero-section .text-wrapper {
    color: #f2f2f2;
    font-family: "Gilroy-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 21%;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 246px;
    width: 57%;
    margin-top: 20px;
  }
  
  .hero-section .search {
    height: 58px;
    left: 20%;
    position: absolute;
    top: 360px;
    width: 60%;
    margin:30px 0px;
  }
  .buttonInside{
    position:relative;
    width: 100%;
  }
  input{
    height:55px;
    width:100%;
    padding-left:10px;
    border-radius: 8px;
    border:none;
    outline:none;
  }
  button{
    position:absolute;
    right: 0px;
    top: 9px;
    border:none;
    height:40px;
    width:120px;
    background-color: #f9d53e;
    border-radius:4px;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
  }
  button:hover{
    cursor:pointer;
  }
  .hero-section .asset{
    width: 100%;
}

  @media only screen and (max-width: 1000px) {
    .hero-section .div{
        width: 80%;
        left: 10%;
        top: 150px;
    }
    .hero-section .search {
        width: 90%;
        left: 3%;
        top: 250px;
    }
    .hero-section .text-wrapper{
        width: 90%;
        left: 6%;
        top: 100px;
    }
    .hero-section .hero-section-wrapper{
      height: 600px;
    }
  }
  @media only screen and (max-width: 700px) {}