@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');
body {
  color: #fff;
  background-color: #01011e;
  margin: 0;
  font-family: 'Gilroy-Regular', 'Gilroy-Bold','Gilroy-Heavy','Gilroy-Light','Gilroy-Medium', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
